<div class="container">
    <div class="cuerpoHome">
        <div class="homeCards">
            <a routerLink="tienda"><img class="homeImg" src="../../assets/home/store.png" alt=""></a>
            <p class="homeText">Tienda</p>
        </div>
        <div class="homeCards">
            <a routerLink="hospital"><img class="homeImg" src="../../assets/home/hospital.png" alt=""></a>
            <p class="homeText">Hospital</p>
        </div>
        <div class="homeCards">
            <a routerLink="inventario"><img class="homeImg" src="../../assets/home/bag.png" alt=""></a>
            <p class="homeText">Inventario</p>
        </div>
        <div class="homeCards">
            <a routerLink="xuxemons"><img class="homeImg" src="../../assets/home/xuxedex.png" alt=""></a>
            <p class="homeText">Xuxedex</p>
        </div>
    </div>
</div>